@charset "utf-8";
/* CSS Document */

input[type=text]
{
	float: right;
	border: 2px solid #D4AF8F;
	width: 70%;
	border-radius: 9px;
	background-color: #181818;
	color: white;
}

input[type=text]:focus
{
	border: 2px solid #D4AF8F;
	border-radius: 9px;
	background-color: #181818;
	color: white;
}

.search
{
	float: right;
}

.container2
{
	padding-top: 60px;
	padding-left: 390px;
	padding-right: 169px;
	width: 1700px;
}

.col
{
	width: 1200px;
}

button[type=submit]
{
	font-family: Verdana;
	font-size: 20px;
	background-color: #181818;
	border:1px solid #D4AF8F;
	color: white;
	padding: 30px, 30px;
	border-radius: 5px;
	transition-duration: 0.4s;
}

button[type=submit]:hover
{
	background-color: #D4AF37;
	color:#000000;
}

td
{
	font-family: Verdana;
	font-size: 15px;
	border-bottom: 1px solid #D4AF8F;
	color: white;
	background-color: #181818;
}

td:hover
{
	background-color: #282828
}